html {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

#sources {
    display:none;
}

div.source {
    width: 320px;
    float: left;
}

#save {
    clear: both;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.item {
    margin: 0 0 5px 0;
    padding: 0;
    border-top: 5px dotted black;
    cursor: pointer;
}

div.item .timestamp {
    font-size: 60%;
    margin-top: 0;
    margin-bottom: 0;
}

div.item img {
    float: left;
    margin-top: 5px;
    margin-right: 5px;
}

div.item p {
    margin-top: 5px;
    font-size: 80%;
}

h2 {
    margin: 0px;
}
